.header-container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0rem 0rem;
}

.header {
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block: auto;
    z-index: 9;
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: baseline;
    gap: 0.5rem;
}

.header .nav-logo a {
    color: var(--black-dark2);
}

.nav-icon {
    font-size: 2.4rem;
}

.nav-title {
    font-size: 2rem;
    font-weight: 500;
    position: relative;
    top: 2px;
}

.nav-logo a:hover {
    color: var(--blue-hover);
}

.nav-search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    padding-block: 0rem;
    padding-inline: 0rem;
    border: 1.5px solid var(--white);
    outline: none;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px rgba(0, 0, 0, 0.1);
}

.nav-search:hover {
    border: 2px solid var(--black-dark5);
}

.search-field {
    padding-block: 0.3rem;
    border: none;
    outline: none;
    padding-inline: 0.5rem ;
    width: 250px;
    border-radius: 8px 0px 0px 8px;
}

.search-field::placeholder {
    font-size: 1.1rem;
    font-weight: 400;
}

.search-button {
    padding-block: 0.2rem;
    padding-inline: 1rem ;
    font-size: 1.2rem;
    color: var(--black-dark4);
    background-color: var(--white3);
    transition: 0.3s;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
    border: none;
    outline: none;
    border-left: 2px solid var(--white3);
}

.search-button:hover {
    background-color: var(--white6);
    border-left: 2px solid var(--black-dark5);
    color: var(--black-dark2);
}

.nav-auth {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 0.4rem;
    position: relative;
    top: 0;
    left: 70px;
    z-index: 9;
    transition: 0.3;

    .active {
        background-color: var(--white3);
        color: var(--blue-active);
        border-radius: 6px;
    }
}

.nav-auth::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: var(--white6);
}

.auth-item {
    list-style: none;
    transition: 0.3;
}

.auth-link {
    text-decoration: none;
    color: var(--black-dark4);
    font-size: 1.1rem;
    font-weight: 400;
    transition: 0.3s;
    padding-block: 0.2rem;
    padding-inline: 0.6rem;
    position: relative;
    text-align: center;
}

.auth-link:hover{
    color: var(--blue-hover);
}

.user-name {
    text-transform: capitalize;
}

.auth-link .icon {
    font-size: 1.2rem;
    font-weight: 700;
}

.auth-link .small-icon {
    font-size: 1.2rem;
}

.active.nav-link::before {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: var(--black-dark4);
    transition: 0.3s;  
    z-index: 11;
}


.nav-item {
    /* background-color: var(--white3); */
    border-radius: 6px;
}

.nav-link::after {
    position: absolute;
    content: "";
    bottom: -5px;
    left: 0;
    height: 1.5px;
    width: 0;
    background-color: var(--black-dark4);
    transition: 0.3s;  
    z-index: 11;
}

.nav-link:hover::after{
    width: 100%;
}

