.layout {
    
}

.header-layout {
    
}

.main-layout {
    min-height: 100vh;
}


.footer-layout {
    background: linear-gradient(var(--black-dark2),var(--black-dark6));
    color: var(--white3);
}